{{#if auth}}
<style>
    .div{
        text-align: center;
    }
</style>

<h1>Cadastro de Carros</h1>
<form action="/users/save" method="post">
<div class="col-md-4 ">
<label for="name" class="form-label">Marca:</label>
<input type="text" name="name" class="form-control">
</div>
<div class="col-md-4 ">
<label for="age" class="form-label">Potencia:</label>
<input type="text" class="form-control" name="age">
</div>
<div class="col-md-4 ">
<label for="age" class="form-label">Motor:</label>
<input type="text" class="form-control" name="age">
</div>
<div class="col-md-4 ">
<label for="age" class="form-label">Nome:</label>
<input type="text" class="form-control" name="age">
</div>
<div class="col-md-4 ">
<label for="age" class="form-label">Cor:</label>
<input type="text" class="form-control" name="age">
</div>
<div class="col-md-4 ">
<label for="age" class="form-label">Ano de fabricado:</label>
<input type="text" class="form-control" name="age">
</div>
<br>
<div class="col-12">
<button type="submit" class="btn btn-primary">Salvar</button>
</div>
</form>

<br>
<div class="col-3"> 
<a href="/">Home</a>
</div>
</div>


{{/if}}